<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.DeptMapper">
 
 
    <select id="findAll" resultType="DeptDTO" > 
		   select deptno,dname,loc
		   from dept   
	</select>
	
    <insert id="insert" parameterType="DeptDTO">
	   insert into dept (deptno, dname, loc)
	   values ( #{deptno}, #{dname}, #{loc})
	</insert>
 
    <delete id="delete" parameterType="int">
	    delete from dept
	    where deptno=#{deptno}
	</delete>
 
 
 
 
 
 
  <!-- DeptMapper.xml-->
   <select id="findByDeptno" 
   resultType="DeptDTO" parameterType="int" > 
		   select deptno,dname,loc
		   from dept      
           where deptno = #{deptno}
	</select>
    
    <select id="findByDeptnoAndDname" 
   resultType="DeptDTO" parameterType="DeptDTO" > 
		   select deptno,dname,loc
		   from dept      
           where deptno = #{deptno} and dname= #{dname}
	</select>
	
	<select id="findByDeptnoAndDnameMap" 
   resultType="DeptDTO" parameterType="hashmap" > 
		   select deptno,dname,loc
		   from dept      
           where deptno = #{x} and dname= #{y}
	</select>
	
	
	<select id="findByDnameOrDeptno" 
   resultType="DeptDTO" parameterType="DeptDTO"> 
		   select deptno,dname,loc
		   from dept   
		    where deptno = #{deptno} or dname= #{dname}
	</select>
	
	
	
	
	
	<update id="update" 
	  parameterType="hashmap">
		update dept
		set dname=#{dname}, loc=#{loc}
		where deptno=#{deptno}
	</update>
	
	
	
	
	<select id="findByDeptnoLessThan" 
   resultType="DeptDTO" parameterType="int" > 
     <![CDATA[ 
		   select deptno,dname,loc
		   from dept      
           where deptno < #{deptno}
	   ]]>
	</select>
</mapper>







