<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.EmpMapper">
  
  	<!-- 멀티 insert-->
    <insert id="insertMulti" parameterType="arraylist">
        insert into emp ( empno, ename, sal )
        values
        <foreach item="dto" separator=","  collection="list">
           ( #{dto.empno}, #{dto.ename}, #{dto.sal} )
        </foreach>
    </insert>
    <!-- 멀티 delete-->
     <delete id="deleteMulti" parameterType="arraylist">
		     delete from emp
          <where>  
		        <foreach item="num"  separator="," collection="list" 
			         open="empno IN (" close=")">
			    #{num}	
			</foreach>
		  </where>
     </delete>
     
     <!-- 멀티 select-->
     <select id="selectMulti" parameterType="arraylist" resultType="EmpDTO">
	       select empno,ename,sal
	       from emp
	       <where>
		    <foreach item="ename"  separator="," collection="list" 
		             open=" ename IN (" close=")">
			 #{ename}
		    </foreach>
	       </where>
	   </select>
     
     
      <!-- 조건 하나인 경우-->
      <select id="selectif"  parameterType="EmpDTO"  resultType="EmpDTO">
			select empno, ename, sal,job
			from emp
			<where>
			    <if test="job != null">
				job = #{job}
			    </if>
			</where>
		 </select>
		 
		 <!-- 조건 여러개 경우-->
		   <select id="selectif2"  parameterType="EmpDTO"  resultType="EmpDTO">
			select empno, ename, sal,job
			from emp
			<where>
			    <if test="job != null">
				   job = #{job}
			    </if>
			    <if test="sal != 0">
				   or sal = #{sal}
			    </if>
			</where>
		 </select>
		 
		 
  <update id="updateIf" parameterType="EmpDTO">
	 update emp
		    <set>
			    <if test="mgr != 0">
				 mgr=#{mgr},
			    </if>

			    <if test="ename != null">
				ename  = #{ename},
			    </if>
			    <if test="sal != 0">
				 sal = #{sal}
			    </if>
		    </set>
		    where empno=#{empno}
		</update>		 
		<!-- choose 실습-->
<select id="selectChoose" parameterType="EmpDTO" resultType="EmpDTO">
		   select empno, ename, sal,job
			from emp
			<where>
			   <choose>
				<when test="job == 'SALESMAN'">
				     sal &gt; 1500
				</when>
				<when test="job == 'CLERK' ">
                     sal &gt; 2500
				</when>
				<otherwise>
                     sal &gt; 3000
				</otherwise>
			   </choose>
			</where>
		</select>		
		
  <!--단일 컬럼-->
  <select id="singleColumn" resultType="int">
      select count(*)
	       from emp
  </select>		
		
</mapper>